extends layout

block content	
	div#table-container.table-responsive
		table.table.table-bordered
			each trail in trails
				if trail.trailStatus == "open"
					tr.trail-row.open-trail
						td.trail-name=trail.trailName 
						td.trail-status=trail.trailStatus
				else if trail.trailStatus == "closed"
					tr.trail-row.closed-trail
						td.trail-name=trail.trailName 
						td.trail-status=trail.trailStatus

	script(type='text/javascript').		
		var resort =!{JSON.stringify(title)};
		
	script(type='text/javascript', src='/javascripts/draw-map.js')
	